/*
 * Hoja de estilos para el index del sistema 
 * Fecha:	29 Abril 2015
 * Autor:	Antonio Ricárdez Hernández
 * 
 */
 
body {
	-moz-hyphens: none;
    -moz-tab-size: 4;
	/*background: #fafbfc url("http://www.pocosmegashdd.com/wp-content/themes/pocosmegashd--1/images/body.png");*/
	/*background: #fafbfc url("/media/img/blueprint-dark.png") repeat scroll center top;*/	
	background: #fff;
	/*	url("bg/bk_ljor.png") repeat scroll center top;*/
}
.tx-xs { font-size:0.6em } 
.tx-sm { font-size:0.8em } 
.subt tr td { background:#FFFBF6; }
h1.zzo { 
	margin-bottom:30px;
	padding-left:10px;
}
h1.zzo:before{
	content:'';
	background: url("../img/x.png") no-repeat;
	height: 30px;
	width: 40px;
	float: left;
	margin: 8px 0 0 0;
}
h2.zzoh2{
	background:#e0e0e0;
	font-size:1.6em;
	color:#222;
	padding:4px 55px 0 4px;
}
table.table-map thead th{
	background:#503B3C;
	color:#ECE4E4;
}
table.table-map tfoot th{
	background:#866567;
	color:#391315;
	font-weight:900;
}
#accordion.panel-group .panel + .panel {
				margin-top: -1px;
}
#accordion.panel-group .panel {
	border-radius: 1px;
}

.input-xs {
    border-radius: 4px;
    font-size: 10px;
    height: 20px;
    line-height: 1.5;
    padding: 4px 8px;
} 
.inp_gra {
	text-align:left;
	border: 1px solid #d6d6d6;
	padding-left:10px;
	color:#606060;
	font-size:12px;
	border-radius:2px;
	background:#fafafa;
	cursor: default;
	width:100%;
	max-width:100%;
	height: 34px;
    line-height: 1.42857;
}
.inp_wit {
	text-align:left;
	border: 1px solid #a6a6a6;
	padding-left:10px;
	color:#333;
	font-size:12px;
	border-radius:2px;
	background:#fefefe;
	cursor: default;
	width:100%;
	max-width:100%;
	height: 34px;
    line-height: 1.42857;
}
.inp_rht { text-align:right; padding-right:10px;} 
.lab_gra{
	color: #606060;
	font-size: 12px;
	font-weight:400;
}
.crs-pnt{
	cursor:pointer;
}
.navbar{ /* no dejaba seleccionar los botones */
	margin-bottom: 0px;
}

#dda {
	
}
#dda-floor {
	background-image: url("../img/m-footer.png");
	padding:0; 
	margin:0;
	min-height: 50px;
	bottom:0;
	z-index:3;
	width:100%
}
#dda-nav{
	margin-top:90px;
}
#dda-nav .navbar-default{
	min-height:50px;
	padding:2px;
	background-image: url("../img/bk_rombos.jpg");
	color: white;
	border-top: 2px solid #51BB78;
	border-bottom: 1px solid #51BB78;
	border-left: 1px solid #51BB78;
	border-right: 1px solid #51BB78;
	border-radius: 0 0 5px 5px;
	-moz-box-shadow: inset 0 0 1px #AAA;
	-webkit-box-shadow: inset 0 0 1px#AAA;
	box-shadow: inner 0 0 1px #AAA;
}
.navbar-nav > li > a.exit { color: #925D5D; }
.navbar-nav > li > a.exit:hover { color: #E00000; }
.navbar-nav > li > a {
    padding-bottom: 3px;
    padding-top: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.tipnav + .tooltip.bottom .tooltip-arrow {
  top: 1px;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #624B6D;
}
.tipnav + .tooltip > .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #624B6D;
  border-radius: 4px;
}

.navbar-default .navbar-nav > li > a.opcs {
    color: #c34113;
	line-height: 1;
    border-left: 1px solid #a79b8d;
}
.navbar-default .navbar-nav > li > a.opcs:hover {
   
	background: rgba(55, 55, 55, 0.1);
   
}

.opcs div { text-align:center; }
.opcs .txxt { font-size:10px; }
.opcs .material-icons { font-size:28px; }
.opcion .material-icons { font-size:16px; }
#dda-header{
	background:#fff;
	opacity: 0.8;
	border-bottom:2px solid #ddd;
	padding-bottom:5px;
}
#dda-content {
	margin-top:90px;
	margin-bottom:70px;
	border:1px solid #BCBCBC;
	border-radius:2px;
}
#dda-img-tit {
	background-image: url("../img/sips.png");
	background-repeat: no-repeat;
	height: 54px;
	width:104px;
}
#dda-enc {
	background-image: url("../img/sips.png");
	background-repeat: no-repeat;
	width: 100px; 
	height: 100px;
	margin: 0;
	padding: 0;
	z-index: 3;
}
.btn-male{
	background-color: #58D3F7;
}
.btn-female{
	background-color: #FF0080;
}
.avaible {
	width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
}
.modal-content{
	/*
	background: #fff url("../img/bg/pixel.png");
	*/
}
.modal-header {
    background: #fff url("../img/gplaypattern.png") repeat scroll 0 0;
    border-radius: 6px 6px 0 0;
}
.modal-backdrop.fade.in {
    opacity: 0.6;
}
.modal-backdrop {
    background: #000 url("bg/ry_bg.png");
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1040;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #f2f2f2;
}
.table-striped > thead > tr {
    background-color: url("bg/ry_bg.png");
}
#table_wrapper{ border:1px solid olive;float:left;}
  #tbody{height:80px;overflow-y:auto;width:1067px; height:400px;	}
  table{border-collapse:collapse; width:100%;}
  td{padding:1px 5px; /* pixels */
      border-right:1px solid #999; /* to avoid the hacks for the padding */
      border-bottom:1px solid #999;} 
#table_wrapper  .td1{ width:70px; max-width:70px; }
#table_wrapper  .td2{ width:350px; max-width:350px; }
#table_wrapper  .td3{ width:300px; max-width:300px; }
#table_wrapper  .td4{ width:200px; max-width:200px;}
#table_wrapper  .td5{ border-right-width:0; } /* optional */
#header{width:1067px; border-bottom:1px solid #999;}
#header div{padding:1px 5px;float:left;border-right:1px solid #999;}
#header #head1{width:70px; max-width:70px;} /* the same as td1 */
#header #head2{width:350px; max-width:350px;} /* the same as td2 */
#header #head3{width:300px; max-width:300px;} /* the same as td3 */
#header #head4{width:200px; max-width:200px;} /* the same as td4 */
#header #head5{float:none;border-right-width:0}
#table_wrapper tr.danger td { background: #F00; color:white; }
#table_wrapper tr.gray td { background: #AAA; color:blue; }
#table_wrapper tr.warning td { background: #FFF934; }



#tbl_sol{ border:1px solid olive;float:left;}
  #tbody{height:80px;overflow-y:auto;width:1067px; height:400px;	}
  table{border-collapse:collapse; width:100%;}
  td{padding:1px 5px; /* pixels */
      border-right:1px solid #999; /* to avoid the hacks for the padding */
      border-bottom:1px solid #999;} 
#tbl_sol  .td1{ width:70px; max-width:70px; }
#tbl_sol  .td2{ width:50px; max-width:50px; }
#tbl_sol  .td3{ width:300px; max-width:300px; }
#tbl_sol .td4{ width:200px; max-width:200px; }
#tbl_sol  .td5{ width:200px; max-width:200px;}
#tbl_sol .td6{ border-right-width:0; } /* optional */
#tbl_sol .header {width:1067px; border-bottom:1px solid #999;}
#tbl_sol .header div{padding:1px 5px;float:left;border-right:1px solid #999;}
#tbl_sol .header .th1 {width:70px; max-width:70px;} /* the same as td1 */
#tbl_sol .header .th2 {width:50px; max-width:50px;} /* the same as td2 */
#tbl_sol .header .th3 {width:300px; max-width:300px;} /* the same as td3 */
#tbl_sol .header .th4 {width:200px; max-width:200px;} /* the same as td4 */
#tbl_sol .header .th5 {width:200px; max-width:200px;} /* the same as td5 */
#tbl_sol .header .th6 {float:none;border-right-width:0}
#tbl_sol tr.danger td { background: #F00; color:white; }
#tbl_sol tr.gray td { background: #AAA; color:blue; }
#tbl_sol tr.warning td { background: #FFF934; }


#tbl_nuc{ border:1px solid olive;float:left;}
  #tbody{height:80px;overflow-y:auto;width:1067px; height:400px;	}
  table{border-collapse:collapse; width:100%;}
  td{padding:1px 5px; /* pixels */
      border-right:1px solid #999; /* to avoid the hacks for the padding */
      border-bottom:1px solid #999;} 
#tbl_nuc  .td1{ width:70px; max-width:70px; }
#tbl_nuc  .td2{ width:300px; max-width:300px; }
#tbl_nuc  .td3{ width:150px; max-width:150px; }
#tbl_nuc .td4{ width:200px; max-width:200px; }
#tbl_nuc  .td5{ width:200px; max-width:200px;}
#tbl_nuc .td6{ border-right-width:0; } /* optional */
#tbl_nuc .header {width:1067px; border-bottom:1px solid #999;}
#tbl_nuc .header div{padding:1px 5px;float:left;border-right:1px solid #999;}
#tbl_nuc .header .th1 {width:70px; max-width:70px;} /* the same as td1 */
#tbl_nuc .header .th2 {width:50px; max-width:50px;} /* the same as td2 */
#tbl_nuc .header .th3 {width:150px; max-width:150px;} /* the same as td3 */
#tbl_nuc .header .th4 {width:200px; max-width:200px;} /* the same as td4 */
#tbl_nuc .header .th5 {width:200px; max-width:200px;} /* the same as td5 */
#tbl_nuc .header .th6 {float:none;border-right-width:0}
#tbl_nuc tr.danger td { background: #F00; color:white; }
#tbl_nuc tr.gray td { background: #AAA; color:blue; }
#tbl_nuc tr.warning td { background: #FFF934; }


#tbl_edit{ border:1px solid olive;float:left;}
  #tbody{height:80px;overflow-y:auto;width:1067px; height:400px;	}
  table{border-collapse:collapse; width:100%;}
  td{padding:1px 5px; /* pixels */
      border-right:1px solid #999; /* to avoid the hacks for the padding */
      border-bottom:1px solid #999;} 
#tbl_edit  .td1{ width:70px; max-width:70px; }
#tbl_edit  .td2{ width:87px; max-width:87px; }
#tbl_edit  .td3{ width:87px; max-width:87px; }
#tbl_edit .td4{ width:250px; max-width:250px; }
#tbl_edit  .td5{ width:250px; max-width:250px;}
#tbl_edit .td6{ border-right-width:0; } /* optional */
#tbl_edit .header {width:1067px; border-bottom:1px solid #999;}
#tbl_edit .header div{padding:1px 5px;float:left;border-right:1px solid #999;}
#tbl_edit .header .th1 {width:70px; max-width:70px;} /* the same as td1 */
#tbl_edit .header .th2 {width:87px; max-width:87px;} /* the same as td2 */
#tbl_edit .header .th3 {width:87px; max-width:87px;} /* the same as td3 */
#tbl_edit .header .th4 {width:250px; max-width:250px;} /* the same as td4 */
#tbl_edit .header .th5 {width:250px; max-width:250px;} /* the same as td5 */
#tbl_edit .header .th6 {float:none;border-right-width:0}
#tbl_edit tr.danger td { background: #F00; color:white; }
#tbl_edit tr.gray td { background: #AAA; color:blue; }
#tbl_edit tr.warning td { background: #FFF934; }


/* font-awesome hacks */
.fa-6x{	font-size:6em; }
.fa-7x{	font-size:7em; }
.fa-8x{	font-size:8em; }
.fa-9x{	font-size:9em; }
.fa-10x{	font-size:10em; }
.fa-rotate-45 { transform: rotate(45deg);}
.fa-rotate-135 { transform: rotate(135deg);}
.fa-stack-10x {
    font-size: 10em;
}
.fa-stack-5x {
    font-size: 5em;
	padding: 0.6em 0 0 0.3em;
}
.fa-stack-10x, .fa-stack-5x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#tit-exp .tooltip-arrow,
#tit-exp + .tooltip > .tooltip-inner {background-color: #f00;}

.list-group {
    margin: 1px 0;
}
#pet-geo .list-group {
    margin: 10px 0;
}
.panel-default > .panel-heading.active {
    background-image: linear-gradient(to bottom, #b1ac6d 0px, #9DB886 100%);
    background-repeat: repeat-x;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #9DB886;
    border-color: #334821;
    color: #fff;
    z-index: 2;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-image: linear-gradient(to bottom, #b1ac6d 0px, #9DB886 100%);
    background-repeat: repeat-x;
    border-color: #334821;
	font-weight: bold;
	text-shadow: none;
    /*text-shadow: 0 -1px 0 #286090;*/
}
.panel-body {
    padding: 2px;
	background: #fcfcfc url("bg/bg_cu.png");
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    background-color: #fff;
    color: #334821;
}
.btn-rojo {
  color: #fff;
  background-color: #D43f3A;
  border-color: #8D0805;
  opacity: 0.6;
}
.btn-naranja {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  opacity: 0.6;
}
.btn-verde {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  opacity: 0.6;
}
.btn-rojo:hover, .btn-rojo:focus, .btn-rojo:active, .btn-rojo.active, .btn-naranja:hover, .btn-naranja:focus, .btn-naranja:active, .btn-naranja.active, .btn-verde:hover, .btn-verde:focus, .btn-verde:active, .btn-verde.active {
    box-shadow: 2px 3px 5px black;
    color: #fff;
    opacity: 1;
}


.bs-ex-b {
    background-color: #f4f8fa;
    border-left: 3px solid #5bc0de;
    padding-bottom: 5px;
    padding-top: 5px;
}
.bs-ex-bd {
    background-color: #F1F0F2;
    border-left: 3px solid #6D3898;
    border-right: 3px solid #6D3898;
    padding-bottom: 5px;
    padding-top: 5px;
}
.bs-ex-d {
    background-color: #fdf7f7;
    border-right: 3px solid #d9534f;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}
.bs-ex-e {
    background-color: #e7f9d6;
    border-left: 3px solid #1d8c00;
    border-right: 3px solid #1d8c00;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: right;
}


.alert-ce {
    background-color: #A78059;
    border-color: #865E35;
    color: #FFF1E3;
}
.alert-p {
    background-color: #4D7514;
    border-color: #2E4E00;
    color: #CAEA9C;
}
.alert-ea {
    background-color: #437983;
    border-color: #012C34;
    color: #6A959D;
}
.alert-ho {
    background-color: #5E4074;
    border-color: #785F8A;
    color: #E2DEE5;
}
#pet-geo{
	max-height: 400px;
	overflow-y:scroll;
	overflow-x:visible;
}
::-webkit-scrollbar {
width: 15px;
height: 15px;
}


::-webkit-scrollbar-track-piece  {
background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #0A4C95;
}

/* Botones en color: Morado, Rosa, Azul Fuerte, Cafe, Amarillo, Gris (con texto verde) */

/* .btn-rojo {
  color: #fff;
  background-color: #D43f3A;
  border-color: #8D0805;
  opacity: 0.6;
  
  
	background-image: linear-gradient(to bottom, #421D68 0px, #421D68 100%);
	background-repeat: repeat-x;
	color: #E9E3F2;
 */
/* btn-info {
    background-image: linear-gradient(to bottom, #5bc0de 0px, #2aabd2 100%);
    background-repeat: repeat-x;
    border-color: #28a4c9;
	}
	.btn-info:focus, .btn-info:hover {
    background-color: #2aabd2;
    background-position: 0 -15px;
}
	.btn-info .badge {
    background-color: #fff;
    color: #5bc0de;
}	
.btn-info.active, .btn-info:active {
    background-color: #2aabd2;
    border-color: #28a4c9;
}
	
 */
.btn-morado {
	background-image: linear-gradient(to bottom, #421D68 0px, #2B0A4D 100%);
	background-repeat: repeat-x;
	color: #CBCACD;
}

.btn-morado:focus, .btn-morado:hover {
	background-color: #2B0A4D;
    background-position: 0 -15px;
	color: #eee;
}

.btn-morado .badge {
    text-shadow: none;
	background-color: #fff;
    color: #5bc0de;
}

.btn-morado.active, .btn-morado:active {
    background-color: #2aabd2;
    border-color: #28a4c9;
}

.btn-rosa {
	background-image: linear-gradient(to bottom, #BB036B 0px, #BB036B 100%);
	background-repeat: repeat-x;
	color: #E3DEE1;
}

.btn-cafe {
	background-image: linear-gradient(to bottom, #804E11 0px, #804E11 100%);
	background-repeat: repeat-x;
	color: #E3DEE1;	
}

.btn-amarillo {
	background-image: linear-gradient(to bottom, #FFFF00 0px, #FFFF00 100%);
	background-repeat: repeat-x;
	color: #000000;
}

.btn-gris {
	background-image: linear-gradient(to bottom, #BAAFB1 0px, #BAAFB1 100%);
    background-repeat: repeat-x;
    color: #004E00;
}

.btn-azul {
	background-image: linear-gradient(to bottom, #0E098D 0px, #0E098D 100%);
    background-repeat: repeat-x;
    color: #E3DEE1;
}

.btn-gray {
	background-image: linear-gradient(to bottom, #fcfcfc 0px, #cdcdcd 100%);
    background-repeat: repeat-x;
    color: #004E00;
	border-color: #999;
    text-shadow: 0 1px 0 #fff;
}

.btn-ss {
    border-radius: 3px;
    font-size: 9px;
    line-height: 1.5;
    padding: 0px 5px;
}

#riis-tab {
	background: url(../img/bg-pttrn.png); 
	padding:10px 0 0 0; 
	border:1px solid #1826D2; 
	border-radius:0 0 5px 5px; 
}
a.danger-inverted {
	background-image: linear-gradient(to bottom, #675958 0px, #5C4B4A 100%);
    background-repeat: repeat-x;
    border-color: #C4B8B7;
}
a.danger-inverted i {
	color: #F6F5D2;
}

#select2-CboMun-results .select2-results__option, #select2-clues_id-results .select2-results__option {
	padding: 0px;
	margin:0px;
	line-height:1;
	border-bottom: 1px solid #cd88af;
}
#select2-CboMun-results .n_riis, #select2-clues_id-results .n_riis{
	color:#818170;
	background-color:#EDEDE6;
	font-size:10px;
	font-weight:normal;
	font-style: italic;
}

#select2-CboMun-results .bm_jur{
	font-size:10px;
	padding:4px;
}
#select2-CboMun-results .bm_mpo{
	margin:0px;
	border-radius:0px;
	line-height:1;
	color:#818170;
	background-color:#EDEDE6;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	
	padding:4px;
	font-size:10px;	
}
#select2-CboMun-results .bm_mun{
	font-size:10px;
	padding-left:5px;
}

#select2-clues_id-results span{
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	line-height:1;
	padding:4px;
	font-size:10px;
}
#select2-clues_id-results .bc_clu{
	background-color:#EDEDE6;
	color:#818170;
}


/* opción hover */
#select2-CboMun-results .select2-results__option--highlighted{
	background-color:#BFCEBF;
	color:#DECAD5;
}
/* opción de juris correcta */
#select2-CboMun-results .select2-results__option--highlighted .s_riis{
	background-color:#887CAF;
}
#select2-clues_id-results .select2-results__option--highlighted .s_riis{
	background-color:#DAC9D2;
	color:#513444;
}
#select2-CboMun-results .s_riis .bm_jur, #select2-clues_id-results .s_riis .bc_jur{
	background:#AB7594;
	color: #E1A2C6; 
}
#select2-CboMun-results .s_riis .bm_mpo{
	color:#882D60;
	background-color:#CD88AF;	
}
#select2-clues_id-results .s_riis .bc_clu{
	color:#E7D7E0;
	background-color:#98587C;
}
#select2-clues_id-results .s_riis .bc_tpg{
	background-color:#D1C2CA;
	color:#947D8A;
}
#select2-clues_id-results .select2-results__option--highlighted .s_riis .bc_tpg{
	background-color:#AB7594;
	color:#E1A2C6;
}
#select2-clues_id-results .s_riis .bc_mpo {
	color:#987A8B;
	background-color:#F8E2EF;
}
#select2-clues_id-results .s_riis .bc_loc{
	color:#987A8B;
	background-color:#E4CAD9;
}


#select2-CboMun-results .n_riis i.fa-university{
	color:#818170;
}
#select2-CboMun-results .s_riis i.fa-university{
	color:#882D60; 
}



.bo_mun{
	color:#987A8B;
	background-color:#F8E2EF;
	border:none;
	font-size:13px;
	padding:6px 7px 6px;
	border-radius:3px 0 0 3px;
	float:left;
}
.bo_muni{
	font-size:10px;
	padding:7px 7px 8px 7px;
	border:1px solid #F8E2EF;
	border-radius:0 3px 3px 0;
	background-color:#FFF;
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	float:left;
}
.bo_muni i, .bo_loca i{
	color:#999;
	font-size:9px;
	font-weight:400;
}
.bo_loc{
	font-size:13px;
	padding:6px 7px 6px;
	color:#987A8B;
	background-color:#E4CAD9;
	border:none;
	border-radius:3px 0 0 3px;
	float:left;
}
.bo_loca{
	font-size:10px;
	padding:7px 7px 8px 7px;
	border:1px solid #E4CAD9;
	border-radius:0 3px 3px 0;
	background-color:#FFF;
	float:left;
}
.bo_clu{
	color:#987A8B;
	background-color:#F8E2EF;
	border:none;
	font-size:13px;
	padding:6px 7px 6px;
	border-radius:3px 0 0 3px;
	float:left;
}
.bo_umed{
	font-size:10px;
	padding:7px 7px 8px 7px;
	border:1px solid #E4CAD9;
	border-radius:0 3px 3px 0;
	background-color:#FFF;
	float:left;
}
.bo_danger{
	font-size:10px;
	padding:7px 7px 8px 7px;
	border:none;
	background-color:transparent;
	float:left;
	color:#710000;
	font-weight:bold;
}
.inp_dsbl {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #606060;
    cursor: default;
    font-size: 12px;
    height: 34px;
    line-height: 1.42857;
    max-width: 100%;
    padding-left: 10px;
    text-align: left;
    width: 100%;
}
.bo_a{
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	border:1px solid #21202C;
	padding:7px;
	font-size:10px;
}
.bo_a01{
	/* color:#D6D5FB;
	background-color:#605BD3; */
	width:90px;
	border-radius:3px 0 0 3px;
	border-right: none;
}
.bo_a02{
	color:#232328;
	background-color:#ABAAB6;
	width:25px;
	border-left: none;
	border-right: none;
	text-align:center;
}
.bo_a03{
	color:#3F3E4B;
	background-color:#D9D9E0;
	width:220px;
	border-left: none;
	border-right: none;
}
.bo_a04{
	color:#423DBD;
	background-color:#FCFCFF;
	width:150px;
	border-left: none;
	border-radius:0 3px 3px 0;
}
.bo_a04 i{
	font-size:9px;
	color:#666;
}
.bo_a04 em{
	font-weight:bold;
	color:#444353;
	padding-left:10px;
	padding-right:10px;
	width:35px;
	text-align:right;
}
.bo_b{
	vertical-align: middle;
	white-space: nowrap;
	display: inline-block;
	border:1px solid #21202C;
	padding:2px;
	font-size:8px;
	margin-right:4px;
	border-radius:2px;
	cursor:pointer;
}
.bo_b01{
	background:#D3D2F6;
}
.bo_b00{
	background:#9DBA91;
}

/*************************************/




#listg-riis.list-group .list-group-item{
	color: black;
}
#listg-riis.list-group .list-group-item.active{
	border-color:#114800;
	background-color: #aaffaa;
	background-image:url(../img/path_select_hover.png); 
	background-position: right; 
	background-repeat: no-repeat;
}
#listg-riis.list-group .list-group-item:hover{
	border-color:#8D9989;
}


.filters{
	background:url("../img/bg-pttrn.png");
	border-bottom:2px solid #622568;
	z-index:2;
}

.badge-numdoc2 {
	background:#ebebeb; 
	color:#000000;				
	border:1px solid #ccc;
	border-right:none;
	border-radius:4px 0 0 4px; 
	padding:4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
	float:left;
	height:21px;
	text-sahadow: none;
}
.badge-numdoc2pdf {
	float:left;
	background:#c0c0c0; 
	color:#b71c1c;
	border-radius:0 4px 4px 0; 
	text-shadow: none;
}
.badge-numdoc2pdf:hover {
	background:#DFC5BC; 
	border-color: #ccc;	
}
.badge-numdoc2{
	margin-left:0;
	width:98px;
}
.badge-riis {
	background:#49084B; 
	color:#C198C2; 
	border-radius:3px; 
	padding:4px;
	margin-bottom:2px;
}

#tbl_50 .c1 { width: 25px;}
#tbl_50 .c2 { width: 141px;}
#tbl_50 .c3 { width: 232px;}
#tbl_50 .c4 { width: 232px;}
#tbl_50 .c5 { width: 125px; text-align:right; padding-right:4px; }
#tbl_50 .c6 { width: 82px;}

#tbl_51 { width:700px }
#tbl_51 .c1 { width: 52px;}
#tbl_51 .c2 { width: 464px;}
#tbl_51 .c3 { width: 125px;}

#tbl_52 .c1 { width: 120px; font-size:10px; }
#tbl_52 .c2 { width: 120px; font-size:10px; }
#tbl_52 .c3 { width: 120px; font-size:10px; }
#tbl_52 .c4 { width: 120px; font-size:10px; }
#tbl_52 .c5 { width: 50px;  font-size:16px; font-weight:bold; text-align:center }
#tbl_52 .c6 { width: 105px; font-size:13px; font-weight:bold; text-align:center}
#tbl_52 .c7 { width: 200px; font-size:10px; }

#tbl_52 .trdet.active td {
	background: rgba(255,249,170,1);
	background: -moz-linear-gradient(top, rgba(255,249,170,1) 0%, rgba(255,250,153,0.98) 52%, rgba(255,249,116,0.97) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,249,170,1)), color-stop(52%, rgba(255,250,153,0.98)), color-stop(100%, rgba(255,249,116,0.97)));
	background: -webkit-linear-gradient(top, rgba(255,249,170,1) 0%, rgba(255,250,153,0.98) 52%, rgba(255,249,116,0.97) 100%);
	background: -o-linear-gradient(top, rgba(255,249,170,1) 0%, rgba(255,250,153,0.98) 52%, rgba(255,249,116,0.97) 100%);
	background: -ms-linear-gradient(top, rgba(255,249,170,1) 0%, rgba(255,250,153,0.98) 52%, rgba(255,249,116,0.97) 100%);
	background: linear-gradient(to bottom, rgba(255,249,170,1) 0%, rgba(255,250,153,0.98) 52%, rgba(255,249,116,0.97) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9aa', endColorstr='#fff974', GradientType=0 );
}

#tbl_52 th div.c1, #tbl_52 th div.c2, #tbl_52 th div.c3, #tbl_52 th div.c4, #tbl_52 th div.c5, #tbl_52 th div.c6 { font-size:12px; }
#detalleform { border-radius:2px; border:1px solid #999; padding:10px; 	}


.tbl_130201 tr { background:#fcfcfc; }
.tbl_130201 th { font-size:12px; }
.tbl_130201 .c { width:60px; font-size:11px; text-align:right; }
.tbl_130201 .c1 { width:250px; font-size:11px; text-align:left; }
.tbl_130201 .c2 { width:20px; font-size:10px; text-align:left; }

#tabNav li a { border-color: #312F25; background-color:#FFFAEE; color:#18140B; }
#tabNav li a i { color:#D1BD92; }
#tabNav li a.ok i { color:#D8F0A0; }
#tabNav li.active a {border-bottom-color: transparent; background-color:#E2C230; }
#tabNav li.ok { border-color: #3A4235; background-color:#AEE192; }
#tabNav li.ok.active a {border-bottom-color: transparent; background-color:#5FC429; }

.avr { 
	min-width:16px; 
	white-space: nowrap;
	display: inline-block;	
	border-radius:3px; 
	margin-left:1px; 
	border:1px solid #999; 
	background:#FFFEE0; 
	font-size:10px; 
	color:#999; 
	padding:3px;
	text-align:center;	
}
.avr.ok { background:#5FC429; color:white; border:1px solid #002C03;  }
.ciiB1{ width:120px;}
.ciiB2{ width:250px; font-size:11px;	}
.ciiB