@-webkit-keyframes placeHolderShimmer{
0%{background-position:-468px 0}
100%{background-position:468px 0}
}
@keyframes placeHolderShimmer{
0%{background-position:-468px 0}
100%{background-position:468px 0}
}
._2iwq {
-webkit-animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
-webkit-animation-iteration-count: infinite;
-webkit-animation-name: placeHolderShimmer;
-webkit-animation-timing-function: linear; 
background: #ffbe40;
background-image: -webkit-gradient(linear, left center, right center, from(#ffbe40), color-stop(.2, #edeef1), color-stop(.4, #ffbe40), to(#ffbe40));
background-image: -webkit-linear-gradient(left, #ffbe40 0%, #edeef1 20%, #f04040 40%, #ffbe40 100%);
-moz-animation-duration: 1s;
-moz-animation-fill-mode: forwards;
-moz-animation-iteration-count: infinite;
-moz-animation-name: placeHolderShimmer;
-moz-animation-timing-function: linear;
background-image: -moz-linear-gradient(left, #ffbe40 0%, #edeef1 20%, #f04040 40%, #ffbe40 100%);
background-repeat: no-repeat;
background-size: 800px 104px;
height: 104px;
position: relative;
}
._2iwq div {
background: #fff;
height: 6px;
left: 0;
position: absolute;
right: 0;
}
div._2iwr {
height: 40px;
left: 40px;
right: auto;
top: 0;
width: 8px;
}
div._2iws {
height: 8px;
left: 48px;
top: 0;
}
div._2iwt {
left: 136px;
top: 8px;
}
div._2iwu {
height: 12px;
left: 48px;
top: 14px;
}
div._2iwv {
left: 100px;
top: 26px;
}
div._2iww {
height: 10px;
left: 48px;
top: 32px;
}
div._2iwx {
height: 20px;
top: 40px;
}
div._2iwy {
left: 410px;
top: 60px;
}
div._2iwz {
height: 13px;
top: 66px;
}
div._2iw- {
left: 440px;
top: 79px;
}
div._2iw_ {
height: 13px;
top: 85px;
}
div._2ix0 {
left: 178px;
top: 98px;
}

@-webkit-keyframes placeHolderDocument{
	0%{background-position:-600px 0}
	100%{background-position:600px 0}
}
@keyframes placeHolderDocument{
	0%{background-position:-600px 0}
	100%{background-position:600px 0}
}
._3iwok {
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear; 
	background: #BBDDFE;
	/*background-image: -webkit-gradient(linear, left center, right center, from(#ffbe40), color-stop(.2, #edeef1), color-stop(.4, #ffbe40), to(#ffbe40));*/
	background-image: -webkit-linear-gradient(left, #0082FF  0%,  #80C0FF 20%, #0082FF 40%, #80C0FF 100%);
	-moz-animation-duration: 1s;
	-moz-animation-fill-mode: forwards;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: placeHolderDocument;
	-moz-animation-timing-function: linear;
	background-image: -moz-linear-gradient(left, #0082FF  0%, #80C0FF 20%, #0082FF 40%, #80C0FF 100%);
	background-repeat: no-repeat;
	background-size: 220px 260px;
	height: 220px;
	width: 260px;
	position: relative;
}
._3iwok div {
    background: none repeat scroll 0 0 #F3F3F3;
    position: absolute;
}
.yx(@y,@x) { 
	width: ( 10 * @x ); 
	height: ( 10 * @y );
} 
.wz(@w:10px,@z:10px) { 
	top:( 10 * @w );
	left:( 10 * @z ); 
} 
._y4x10 {  .yx(4px,10px); }
._y13x3 {  .yx(13px,3px); }
._y4x6 {  .yx(4px,6px); }
._y5x8 {  .yx(5px,8px); }
._y4x9 {  .yx(4px,9px); }
._y3x1 {  .yx(3px,1px); }
._y2x1 {  .yx(2px,1px); }
._y1x2 {  .yx(1px,2px); }
._y4x3 {  .yx(4px,3px); }
._y2x2 {  .yx(2px,2px); }
._y1x1 {  .yx(1px,1px); }
._y1x4 {  .yx(1px,4px); }
._y3x2 {  .yx(3px,2px); }
._y4x1 {  .yx(4px,1px); }
._y1x3 {  .yx(1px,3px); }
._y1x8 {  .yx(1px,8px); }
._y11x1 {  .yx(11px,1px); }
._y7x1 {  .yx(7px,1px); }
._y6x2 {  .yx(6px,2px); }
._y1x6 {  .yx(1px,6px); }
._w0z0 {  .wz(0px,0px); }
._w5z12 {  .wz(5px,12px); }
._w5z11 {  .wz(5px,11px); }
._w0z18 {  .wz(0px,18px); }
._w18z16 {  .wz(18px,16px); }
._w18z0 {  .wz(18px,0px); }
._w19z9 {  .wz(19px,9px); }
._w20z10 {  .wz(20px,10px); }
._w21z11 {  .wz(21px,11px); }
._w12z6 {  .wz(12px,6px); }
._w14z0 {  .wz(14px,0px); }
._w15z3 {  .wz(15px,3px); }
._w16z4 {  .wz(16px,4px); }
._w17z5 {  .wz(17px,5px); }
._w4z0 {  .wz(4px,0px); }
._w6z1 {  .wz(6px,1px); }
._w21z15 {  .wz(21px,15px); }
._w19z11 {  .wz(19px,11px); }
._w20z13 {  .wz(20px,13px); }
._w8z0 {  .wz(8px,0px); }
._w8z1 {  .wz(8px,1px); }
._w12z0 {  .wz(12px,0px); }
._w13z1 {  .wz(13px,1px); }
._w9z2 {  .wz(9px,2px); }
._w11z1 {  .wz(11px,1px); }
._w13z4 {  .wz(13px,4px); }
._w16z7 {  .wz(16px,7px); }
._w17z9 {  .wz(17px,9px); }
._w12z5 {  .wz(12px,5px); }
._w13z3 {  .wz(13px,3px); }
._w6z3 {  .wz(6px,3px); }
._w4z5 {  .wz(4px,5px); }
._w9z4 {  .wz(9px,4px); }
._w8z3 {  .wz(8px,3px); }
._w6z5 {  .wz(6px,5px); }
._w8z8 {  .wz(8px,8px); }
._w10z5 {  .wz(10px,5px); }
._w11z7 {  .wz(11px,7px); }
._w7z7 {  .wz(7px,7px); }
._w0z10 {  .wz(0px,10px); }
._w2z10 {  .wz(2px,10px); }
._w0z12 {  .wz(0px,12px); }
._w5z7 {  .wz(5px,7px); }
._w6z8 {  .wz(6px,8px); }
._w6z10 {  .wz(6px,10px); }
._w7z9 {  .wz(7px,9px); }
._w4z10 {  .wz(4px,10px); }
._w1z14 {  .wz(1px,14px); }
._w2z12 {  .wz(2px,12px); }
._w0z17 {  .wz(0px,17px); }
._w1z16 {  .wz(1px,16px); }
._w2z17 {  .wz(2px,17px); }
._w3z16 {  .wz(3px,16px); }
._w12z9 {  .wz(12px,9px); }
._w12z10 {  .wz(12px,10px); }
._w13z11 {  .wz(13px,11px); }
._w17z18 {  .wz(17px,18px); }
._w16z20 {  .wz(16px,20px); }
._w15z21 {  .wz(15px,21px); }
._w6z17 {  .wz(6px,17px); }
._w13z16 {  .wz(13px,16px); }
._w9z16 {  .wz(9px,16px); }
._w10z15 {  .wz(10px,15px); }
._w11z16 {  .wz(11px,16px); }
._w12z15 {  .wz(12px,15px); }
._w14z15 {  .wz(14px,15px); }
._w7z18 {  .wz(7px,18px); }
._w7z19 {  .wz(7px,19px); }
._w8z20 {  .wz(8px,20px); }
._w10z18 {  .wz(10px,18px); }
._w11z19 {  .wz(11px,19px); }
._w12z18 {  .wz(12px,18px); }
._w14z18 {  .wz(14px,18px); }
._w13z19 {  .wz(13px,19px); }
._w6z20 {  .wz(6px,20px); }
._w7z21 {  .wz(7px,21px); }
._w8z22 {  .wz(8px,22px); }
._w7z23 {  .wz(7px,23px); }
._w6z24 {  .wz(6px,24px); }
._w5z25 {  .wz(5px,25px); }
._w7z25 {  .wz(7px,25px); }
._w8z24 {  .wz(8px,24px); }
._w9z25 {  .wz(9px,25px); }
._w10z24 {  .wz(10px,24px); }
._w11z25 {  .wz(11px,25px); }
._w12z24 {  .wz(12px,24px); }
._w13z25 {  .wz(13px,25px); }
._w14z23 {  .wz(14px,23px); }
._w15z24 {  .wz(15px,24px); }
._w16z25 {  .wz(16px,25px); }
._w5z18 {  .wz(5px,18px); }