/* 
 *	CSS Subir Archivos 
 *  Fecha: 29/04/2015
 */
.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
	margin-bottom: 5px;
	margin-right: 3px;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer; 
}